header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 5em;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

.links button {
    flex: 1;
    flex-grow: 1;
}

button:hover {
    background-color: #0069d9;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}